.DS_Store
logs
project/project
project/target
target
tmp
.history
dist
.classpath
.project
.settings/
.target
logs/*
target/*
/.idea/*
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/project/target/*
*.i*